<%= form_for @article, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <% if @article.errors.any? %>
    <h2><%= pluralize(@article.errors.count, "error") %></h2>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "pure-input-1" %><br>

  <%= f.label :content %>
  <%= f.text_area :content, class: "pure-input-1", rows: 10 %><br>

  <%= f.submit "Post", class: "pure-button pure-button-primary" %>
<% end %>

<button class="pure-button" id="preview-btn">Preview</button>

<div id="preview">
  <div id="title-preview">
  </div>
  <div id="content-preview">
  </div>
</div>

<script type="text/javascript">
  var preview = function() {
    var title = document.getElementById("article_title");
    var content = document.getElementById("article_content");
    var titlePreview = document.getElementById("title-preview");
    var contentPreview = document.getElementById("content-preview");

    titlePreview.innerHTML = title.value;
    contentPreview.innerHTML = content.value;
  };

  var previewBtn = document.getElementById("preview-btn");
  previewBtn.addEventListener("click", preview);
</script>